[Unit]
Description=CSYE 6225 Web Application
After=network.target postgresql.service

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/webapp
Environment=NODE_ENV=production
Environment=PORT=8080
ExecStart=/usr/bin/node /opt/csye6225/webapp/src/index.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target